body{
	height:100%;
	width: 100%;
	background-color:grey;
	margin:0px;
	padding:0px;
}
header{
	width:100%;
	height:20%;
	background-color:black;
}	
#logoimg{
	margin-left:60px;
	height:140px;
	width:350px;
}
h2{
	color:#ffd900;
	text-align:center;
}

nav a:link {
	float:right;
	font-size:30px;
	margin-right:15px;
    color: #ffd900;
   
}

nav a:hover {
    color: red;
}

#rent{
	margin-top:2px;
	height:150px;
	width:350px;
	}
	
	/* Popup container */
.popup {
    position: relative;
    /*display: inline-block;*/
    cursor: pointer;
}

/* The actual popup (appears on top) */
.popup .popuptext {
    visibility: hidden;
    width: 350px;
	height: 200px;
    background-color: #555;
    color: #fff;
    text-align: center;
	font-weight:bold;
	font-size:20px;
    border-radius: 6px;
    padding: 8px 0;
    position: absolute;
    z-index: 1;
    bottom: 25%;
    left: 50%;
    margin-left: -80px;
}

/* Popup arrow */
.popup .popuptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
    visibility: visible;
    -webkit-animation: fadeIn 1s;
    animation: fadeIn 1s
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
    from {opacity: 0;} 
    to {opacity: 1;}
}

@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity:1 ;}
}
	
	
#buy{
	margin-top:2px;
	height:150px;
	width:350px;
}
#sell{
	margin-top:2px;
	margin-bottom:2px;
	height:150px;
	width:350px;
	
	}
footer{
	display: block;
	background-color:black;
	color:#ffd900;
	padding:10px;
	/*margin-top:-15px;*/
}
.footcontainer{
	padding:10px;
}
#map{
	margin:15px;
	width:200px;
	height:200px;
	background:yellow;
}
footer div a:link {
	float:right;
	font-size:30px;
	margin-right:15px;
    color: #ffd900;
   
}

footer div a:hover {
    color: red;
}