body{
	height:100%;
	width: 100%;
	background-color:grey;
	margin:0px;
	padding:0px;
}
header{
	width:100%;
	background-color:black;
}	
#logoimg{
	height:100px;
	width:250px;
	/*margin-left:42%;*/
}
h2{
	margin-top:-5px;
	color:#ffff00;
	text-align:center;
}

a:link {
	float:right;
	font-size:30px;
    color: #ffff00; 
    background-color: transparent; 
    text-decoration: none;
}


a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}



#rent{
	margin-top:2px;
	height:150px;
	width:350px;
	}
#buy{
	margin-top:2px;
	height:150px;
	width:350px;
}
#sell{
	margin-top:2px;
	margin-bottom:2px;
	height:150px;
	width:350px;
	
	}
footer{
	background-color:black;
	color:#ffff00;
	margin-top:-15px;
}
#map{
	margin:15px;
	width:200px;
	height:200px;
	background:yellow;
}