body
 { 
 background-color:black; 
 color:white;
 
 }
 
 #Sign-Up
 {
 background-image:url('fb.png');
 background-size:500px 500px;
 background-repeat:no-repeat;
 background-attachment:fixed;
 background-position:center; 
 margin-top:150px;
 padding:9px 35px; 
 
 }
 .button
 {
 border-radius:10px;
 width:100px; 
 height:40px; 
 font-weight:bold;
 font-size:20px;
 
 }
 table{
	
	 padding:10px;
 }
 .forget
 { 
 font-size:14px;
 background: black;
 color:white;
 }